.btn{
    background: #62ab03;
    color: white;
    border-radius: 2px;
    box-shadow: rgba(black, .15) 2px 2px 5px;
    padding: .75em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;

    cursor: pointer;
}