@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
$light-blue: #2196f3;
$dark-blue: #0d47a1;

$light-orange: #ef6c00;
$dark-orange: #e65100;

$light-red: #f44336;
$dark-red: #c62828;

$light-green: #62ab03;
$dark-green: #004d00;

$text-color: #212121;

$font: 'Open Sans', cursive;